@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans&family=Questrial&display=swap');
/* font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Questrial', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: .5px solid red; */
}

.container-main {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    font-size: 18px;
    
}