@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans&family=Questrial&display=swap');
/* font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Questrial', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    /* border: .5px solid red; */
}
body {
    background-color: #6A8E7F;
    display: flex;
}

.container-main {
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-container {
    text-align: center;
    padding-bottom: 10px;
}
h1 {
    text-shadow: 6px 4px 7px rgba(0, 0, 0, 0.219);
}

.quote-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

.author-container {
    margin-top: 5px;
    width: 90%;
}
#author {
    float: right;
    font-size: 12px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1.5px solid rgba(199, 199, 199, 0.322)
}

#copy-icon {
    padding-left: 10px;
}
#copy-icon:hover {
    cursor: pointer;
}

button {
    font-size: 12px;
    color: #ffffff;
    border: none;
    padding: 6px 10px 6px 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #6A8E7F;
}
button:hover {
    box-shadow: 2px 2px rgba(106, 142, 127, 0.26);
}